{% extends 'base.html' %}
{% block titulo %}Editar Usuario{% endblock %}
{% block main %}
<div class="container-fluid d-flex justify-content-center align-items-center" style="min-height: 50vh;">
    <div class="row justify-content-center">
        <div class="text-left">
            <h1 class="mb-4">Editar Usuario</h1>
            <form method="POST" class="form-cadastro">
                {% csrf_token %}
                <div class="mb-3">
                    <label class="form-label">Email</label>
                    {{ form.email }}
                </div>
                <div class="mb-3">
                    <label class="form-label">Nome</label>
                    {{ form.nome }}
                </div>
                <div class="mb-3">
                    <label class="form-label">Senha</label>
                    {{ form.senha }}
                </div>
                <button type="submit" class="btn botaoC botton-cadastro">Atualizar</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}